.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.nav-pills .nav-link.active {
    color: #fff;
    background-color: #007bff;
}
.profesor .nav-pills .nav-link.active {
    color: #fff;
    background-color: #28a745;
}